body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-size: cover;
  height: 100%;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.content {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    #444343 0%,
    #434242 5%,
    #424141 10%,
    #414040 15%,
    #404040 20%,
    #3b3737 33%,
    #3b3737 60%,
    #3b3939 65%,
    #3c4040 75%,
    #242222 85%,
    #232121 90%,
    #222020 95%,
    #000 100%
  );
  background-size: cover;
}

.logo {
  width: 50px;
  height: 50px;
  background-size: cover;
}

/* HEADER */

.header {
  width: 100%;
  margin-top: 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #28272a;
}

.head {
  margin: 5px auto;
  font-size: 0.8em;
}

/* NAV */

.nav {
  width: 100%;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-icons {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icons li:nth-child(2) {
  display: flex;
  align-items: center;
}

.nav-icons li span:nth-child(2) {
  color: #a4a4a4;
  padding-left: 4px;
}

.nav-icons__notify {
  width: 20px;
  height: 20px;
}

.nav-icons__user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* SEARCH COMPONENTS */

.search {
  border: 0px;
  max-width: 25%;
  padding: 4px;
  border-radius: 14px;
}

/* SECTION MENU */

.menu {
  width: 20%;
  min-height: 100%;
  padding: 22px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0c0b0b;
  box-sizing: border-box;
}

/* SINGIN PAGE */
.singIn {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #121212;
}

/* FORMS */
.form {
  display: flex;
  flex-direction: column;
}

/* MENU LATERAL */

.menu__logo {
  font-size: 1.2em;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 120px;
  height: 40px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.menu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
}

.menu__nav li {
  color: #9a9898;
  width: 100%;
  font-size: 1em;
  padding-bottom: 15px;
  cursor: pointer;
}
.menu__nav a {
  color: #9a9898;
}
.menu__nav li:hover {
  color: #fff;
}
.menu__nav a:hover {
  color: #fff;
}

.menu__nav li img {
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

.menu-list h2 {
  font-size: 11px;
  font-weight: 400;
  line-height: 8px;
  color: #b3b3b3;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.menu-list ul {
  padding-left: 0px;
}
.menu-list ul li {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 8px;
  color: #b3b3b3;
  cursor: pointer;
  text-transform: capitalize;
}
.menu-list li:hover {
  color: #fff;
}

.menu-list ul li span {
  text-transform: uppercase;
}

.playlist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30%;
  border-top: 1px solid #fff;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  bottom: 0;
  left: 0;
  text-transform: capitalize;
}

.playlist img {
  padding-right: 8px;
}

/* NAVIGATION PAGES */

.navigation {
  color: #fff;
  background-color: #121212;
  background-size: cover;
}
.navigation .container {
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.nav-tabs {
  width: 80%;
  margin: 0 auto;
}

.nav-tabs ul {
  width: 80%;
  margin-top: 35px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: space-between;
}

.nav-tabs ul li {
  font-size: 13px;
  font-weight: 500;
  color: #7e7c80;
  line-height: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-tabs ul li:hover {
  color: #fff;
  font-weight: 500;
}

.card {
  width: 150px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.card-header {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.card-header__cover {
  width: 100%;
  height: 90%;
  position: relative;
  top: 0;
  left: 0;
}

.card-header__disc {
  position: absolute;
  top: 17%;
  left: 21%;
  color: #fff;
  width: 3%;
  display: none;
}

.card-header__disc:hover {
  display: block;
}

.card__title {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.card__title span {
  color: #ccc;
  font-weight: 400;
  font-size: 12px;
}

/* COLECTIONS */

.collections {
  width: 100%;
}

.collections__title {
  margin-top: 45px;
  color: #fff;
  font-size: 2.5em;
  line-height: 44px;
  font-weight: 600;
}

.collections-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collections-grid:nth-child(6n) {
  margin-right: 0px;
}

.collections-grid:nth-child(6n + 1) {
  margin-left: 0px;
}

.viewMore {
  color: #fff;
  display: inline;
}

/* PLAYER */

.player {
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0%;
}

.player audio {
  margin: 0 auto;
  color: red;
}

.controls {
  width: 15%;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
}

.controls__left {
  width: 20px;
  color: red;
}
.controls__right {
  width: 20px;
}

.controls__play {
  width: 20px;
}

.progress {
  width: 300px;
  height: 8px;
  margin: 10px auto;
  margin-left: 40%;
  background-color: #404040;
  border-radius: 4px;
}

.progress-play {
  width: 50%;
  height: 100%;
  background-color: #fff;
}

/* PAGE SEARCH */

.search {
  min-width: 80%;
  height: 50px;
  padding: 15px 25px;
  border-radius: 0px;
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  background-color: #282828;
}

.search-title {
  color: #fff;
  font-size: 1.8em;
  margin: 15px auto;
  margin-top: 50px;
}

.search-description {
  color: #9a9898;
  font-size: 1em;
  margin: 0 auto;
}

.create {
  margin: 30px auto;
}

/* BUTTONS */

.btn {
  border: 0;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #ccc;
}

.btn--cancele {
  width: 150px;
  background-color: #131212;
  border: 2px solid #d2d2d2;
  border-radius: 4px;
  font-weight: 400;
}

.btn--playlist {
  width: 140px;
  padding: 10px 5px;
  border-radius: 4px;
  background-color: #1ed760;
}

.btn--playlist:hover {
  width: 150px;
  font-size: 0.85em;
  background-color: #1ed750;
}

/* INPUTS */

.contentPlay {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.contentPlay span {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}

.input-play {
  width: 100%;
  background-color: #282828;
  color: #fff;
  border: 0px;
  font-size: 38px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 0px;
}

.modalContent {
  position: absolute;
  top: 23%;
  left: 38%;
  z-index: 5;
  color: #fff;
}

.modalContent h1 {
  font-size: 42px;
  font-weight: 600;
}

.buttonContainer {
  width: 310px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20%;
  left: 38%;
  z-index: 5;
}
